<div id="wrapper">
      <div id="logo_sunstone" style="
    background: url(<%=$views_config.logo%>) no-repeat center;
    background-size: 355px;">
      </div>

    <div id="error_box" class="hidden alert-box alert" style="display: none">
      <span id="error_message"></span>
    </div>

</div>
